body{
    background-color: silver;
}

.conatiner{
    background-color: white;
    box-shadow: 0 0 10pxs gray;
    padding: 10px;
}

header{
    background-color: slategray;
    color: white;
    text-align: center;
    font-size: 200%;
    padding: 20px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    letter-spacing: 3px;
    font-size: 80%;
    padding: 10px;
}

#main{

}

section h1{
    text-transform: uppercase;
    font-size: 150%;
    text-align: center;
    padding: 10px 0;
}